<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Pessoal</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'portfolioPWEB/styles.css' %}?v=1.2">

    <style>
        .errorlist { display: none; }
    </style>
</head>
<body>
    <header>
        <h1>Portfólio</h1>
        <nav>
            <a href="/portfolio/licenciaturas/">Licenciaturas</a>
            <a href="/portfolio/docentes/">Docentes</a>
            <a href="/portfolio/competencias/">Competências</a>
            <a href="/portfolio/tecnologias/">Tecnologias</a>
            <a href="/portfolio/ucs/">UCs</a>
            <a href="/portfolio/projetos/">Projetos</a>
            <a href="/portfolio/tfcs/">TFCs</a>
            <a href="/portfolio/formacoes/">Formações</a>
            <a href="/portfolio/makingofs/">Making Of</a>
            <a href="/portfolio/areas/">Áreas</a>
        </nav>
    </header>

    <main class="fade-in-container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 | Desenvolvido com Django & Estilo</p>
    </footer>
</body>
</html>