{% extends "portfolioPWEB/base.html" %}

{% block content %}
<div style="max-width: 500px; margin: 0 auto; text-align: center;">
    <h2 style="color: var(--danger);">⚠️ Apagar Formação</h2>
    <p>Tens a certeza que queres eliminar a formação em <strong>"{{ formacao.nome }}"</strong>?</p>
    <form method="POST" style="margin-top: 30px;">
        {% csrf_token %}
        <button type="submit" class="btn-save" style="background: var(--danger);">Confirmar</button>
        <a href="{% url 'formacoes' %}" class="btn-cancel">Voltar</a>
    </form>
</div>
{% endblock %}