{% extends "portfolioPWEB/base.html" %}

{% block content %}
<section class="hero-professional">
    <div class="hero-text-side">
        <span class="ui-label-pro">Informática de Gestão</span>
        <h1 class="hero-title-serif">Leticia Fortes</h1>
        <p class="hero-subtitle-pro">
           ccc
        </p>

        <div class="hero-action-btns">
            <a href="{% url 'projetos' %}" class="btn-pro btn-primary-pro">Projetos</a>
            <a href="https://www.linkedin.com/in/atuaconta" target="_blank" class="btn-pro btn-outline-pro">LinkedIn</a>
        </div>
    </div>

    <div class="hero-visual-side">
        <div class="organic-shape">
            <div class="shape-bg"></div>
            <div class="shape-overlay"></div>
        </div>
    </div>
</section>
{% endblock %}