{% extends "portfolioPWEB/base.html" %}

{% block content %}
<div class="delete-box">
    <h2>⚠️ Confirmar Eliminação</h2>
    <p>Leticia, tens a certeza que queres apagar o projeto <strong>"{{ projeto.titulo }}"</strong>?</p>
    
    <form method="POST" class="delete-form">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Sim, apagar definitivamente</button>
        <a href="{% url 'projetos' %}" class="btn-neutral">Não, manter este projeto</a>
    </form>
</div>
{% endblock %}